<br-header
  [image]="image.src"
  [alt]="image.alt"
  [title]="title"
  [signature]="signature"
  has-menu
  container-fluid="true"
  has-title-link="true"
  title-link-url="/"
  id="header"
>
  <div slot="headerMenu">
    <br-button
      role="option"
      circle
      density="small"
      aria-label="Menu"
      [icon]="isOpen ? 'times' : 'bars'"
      data-toggle="menu"
      data-target="#main-navigation"
      (click)="toggleMenu()"
    ></br-button>
  </div>
  <br-header-action
    slot="headerAction"
    title-links="Bibliotecas de componentes"
    [listLinks]="links"
    title-functions="Links relacionados"
    [listFunctions]="functions"
  >
  </br-header-action>
</br-header>
