<app-breadcrumb></app-breadcrumb>
<br-message state="success" closable *ngIf="submited"
  >Formulário enviado com sucesso!</br-message
>
<div class="p-3">
  <h1>Cadastro de usuário</h1>
  <form [formGroup]="userForm" (ngSubmit)="onSubmit()">
    <div class="mb-3">
      <br-input
        type="text"
        id="nome"
        name="nome"
        placeholder="Nome"
        label="Nome:"
        formControlName="nome"
        [state]="getInputState('nome')"
      ></br-input>
      <app-message
        [control]="userForm.get('nome')"
        error="required"
        message="O campo Nome é obrigatório"
      ></app-message>
    </div>

    <div class="mb-3">
      <div class="row">
        <div class="col">
          <br-input
            type="text"
            id="email"
            name="email"
            placeholder="E-mail"
            label="E-mail:"
            formControlName="email"
            [state]="getInputState('email')"
          ></br-input>
          <app-message
            [control]="userForm.get('email')"
            error="required"
            message="O campo E-mail é obrigatório"
          ></app-message>
        </div>
        <div class="col">
          <br-input
            type="text"
            id="telefone"
            name="telefone"
            placeholder="Ex.: (99) 99999-9999"
            label="Telefone:"
            mask="(##) #####-####"
            formControlName="telefone"
            [state]="getInputState('telefone')"
          ></br-input>
          <app-message
            [control]="userForm.get('telefone')"
            error="required"
            message="O campo Telefone é obrigatório"
          ></app-message>
        </div>
      </div>
    </div>

    <div class="mb-3">
      <div class="row">
        <div class="col">
          <br-input
            type="password"
            id="senha"
            ispassword
            name="senha"
            placeholder="Senha"
            label="Senha:"
            formControlName="senha"
            [state]="getInputState('senha')"
          ></br-input>
          <app-message
            [control]="userForm.get('senha')"
            error="required"
            message="O campo Senha é obrigatório"
          ></app-message>
        </div>
        <div class="col">
          <br-input
            type="password"
            id="confirmarSenha"
            name="confirmarSenha"
            ispassword
            placeholder="Confirmar senha"
            label="Confirmar senha:"
            formControlName="confirmarSenha"
            [state]="getInputState('confirmarSenha')"
          ></br-input>
          <app-message
            [control]="userForm.get('confirmarSenha')"
            error="required"
            message="O campo Confirmar Senha é obrigatório"
          ></app-message>
        </div>
      </div>
    </div>

    <div class="mb-3">
      <div class="row">
        <div class="col">
          <br-input
            type="text"
            id="cpf"
            name="cpf"
            placeholder="Ex.: 999.999.999-99"
            label="CPF:"
            mask="###.###.###-##"
            formControlName="cpf"
            [state]="getInputState('cpf')"
          ></br-input>
          <app-message
            [control]="userForm.get('cpf')"
            error="required"
            message="O campo Cpf é obrigatório"
          ></app-message>
        </div>
        <div class="col">
          <br-input
            type="text"
            id="dataNascimento"
            mask="##/##/####"
            name="dataNascimento"
            placeholder="Ex.: DD/MM/AAAA"
            label="Data de nascimento:"
            formControlName="dataNascimento"
            [state]="getInputState('dataNascimento')"
          ></br-input>
          <app-message
            [control]="userForm.get('dataNascimento')"
            error="required"
            message="O campo Data de nascimento é obrigatório"
          ></app-message>
        </div>
      </div>
    </div>

    <div class="mb-3">
      <div class="row">
        <div class="col">
          <br-input
            type="text"
            id="endereco"
            name="endereco"
            placeholder="Endereço"
            label="Endereço: (Opcional)"
            formControlName="endereco"
            [state]="getInputState('endereco')"
          ></br-input>
          <app-message
            [control]="userForm.get('endereco')"
            error="required"
            message="O campo Endereço é obrigatório"
          ></app-message>
        </div>
        <div class="col">
          <br-input
            type="text"
            id="cep"
            name="cep"
            placeholder="Ex.: 99999-999"
            label="CEP: (Opcional)"
            mask="#####-###"
            formControlName="cep"
            [state]="getInputState('cep')"
          ></br-input>
          <app-message
            [control]="userForm.get('cep')"
            error="required"
            message="O campo Cep é obrigatório"
          ></app-message>
        </div>
      </div>
    </div>
    <div class="mt-3 d-flex justify-content-md-end">
      <br-button
        id="enviar"
        label="Enviar Formulário"
        type="primary"
        class="mt-3 mr-1"
        (click)="onSubmit()"
      ></br-button>
    </div>
  </form>
</div>
